<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST" action="/new">
	<input name="author" placeholder="Enter Author's Name"></input>
	<input name="message" placeholder="Enter Message Text"></input>
	<button>Submit</button>
</form>